* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 24px;
}

li {
  list-style: none;
  margin: 24px 0;
}

a {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: inherit;
}
